.contactapi1
{
    padding-left: 16rem;
    padding-top: 3rem;
    height: fit-content;
    padding-bottom: 3rem;
    background-color: white;
    justify-content: center;
}
.paginationbuttons
{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    margin-left: 17rem;
}
.previosbuttons
{
    background-color: #C29D59;
    padding: 0.3rem;
    border-radius: 0.2rem;
}
.nextbuttons
{
    background-color: #C29D59;
    padding: 0.3rem;
    border-radius: 0.2rem;
}
