.charts
{
    color: black;
    width:40rem;
    height: 12rem;
    font-size: 0.6rem;

}
.AllD1
{


margin-left:15rem;
margin-top: -15rem;
margin-bottom: 2rem;
width: 17rem;
}

@media screen and (max-width: 768px) {
.charts
{
    color: black;
    width:22rem;
    height: 10rem;
    font-size: 0.6rem;
    
    }
    .AllD1
    {
   margin-top: 16rem;
   margin-left: 0.5rem;
    }

}
