.tooter{
    background-color: #2b2b2b;
    height: 29rem;
width: 100%;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footerpic
{
    width: 12rem;
    height: 4rem;
}
.place
{
    height: 2.3rem;
    width: 13rem;
    border-radius: 5px;
    border: 0px;
    border: solid 1px white;
    border-radius:5px 0 0 5px;
    padding-left: 1rem;
}
.sbbutto
{
    height: 2.5rem;
background-color: #C29D59;
width: 5.4rem;
border-radius: 0 5px 5px 0;
border: 0px;


}
.pic
{
    width: 13rem;
    height: 2rem;
}
.container1
{
    padding-top:2.8rem;
   
    display: flex;
    flex-direction: column;
    gap:1rem;
      
}
.container2
{
    display: flex;
    flex-direction: column;
    padding-top:2.8rem;
}
.allcontain_foot{
display: flex;
flex-direction: row;
padding-left: 3rem;
padding-right: 3rem;
justify-content: space-between;
}
.textt
{
    font-size: 1.5rem;
}

.hline
 {
  width: 100%;
  border-top: 1px solid white; 
}



.hline {
  width: 14rem; 
  border-top: 1px solid white; 
  margin: 5px 0; 
}

.hline2 {
font-size: 1.5rem;
padding-top: 1.6rem;
display: flex;
flex-direction: column;
gap: 0.3rem;
padding-bottom: 1rem;


}

.line_t {
  width: 15rem; 
  border-top: 1px solid white;
  margin: 5px auto; 
 
}

.conto1
{
 border-left: 2px solid #C29D59;
padding-left: 1rem;
}
.conto2
{
 border-left: 2px solid #C29D59;
padding-left: 1rem;
}
.conto3
{
 border-left: 2px solid #C29D59;
padding-left: 1rem;
}

.conto4
{
 border-left: 2px solid #C29D59;
padding-left: 1rem;
}

.contohold
{
 display: flex;
flex-direction: column;
gap:1.3rem;
}
.footsocial
{
    color: #C29D59;
}
.hol{
    margin-left: 5rem;
    margin-right: 5rem;


}
.endfoot
{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    margin-left: 5rem;
    margin-right: 5rem;
}
*{
  margin: 0; padding: 0;
}

.textt2 ul li {
margin: 10px 0;

  gap: 2rem;

   list-style-type: square; 

}
.textt2 {
padding-left: 1rem;
}

 
 @media screen and (max-width: 768px){

.allcontain_foot{
 display: flex;
 flex-direction: column;
 gap:1rem;

}

.tooter{
    background-color: #323232;
    gap: 2rem;
    height:76rem;

}

.container1
{
    padding-top:2.8rem;
    padding-left: 1rem;
   
      
}
.container2
{
    display: flex;
    flex-direction: column;
    padding-top:2.8rem;
    padding-left: 1rem;
}

.textt2 {
padding-left: 2rem;
}

.contohold
{
 padding-left: 2rem;   
}

.endfoot
{
    
    margin-left: 3.5rem;
    
}

.hol{
    margin-left:1rem;
    width: 22rem;


}

} 


