* {
  margin: auto;
  padding: 0;
}

.footer {
  background-color: #323232;
  align-items: center;
  height: 12rem;
  justify-content: center;
}

.fixed {
  position: fixed;
  top: 0; /* Adjust the desired top position */
  width: 100%; /* Make it span the entire width of the viewport */
}
.home_section2 {
  background-color: white;
  height: fit-content;
}
.section2_a {
  display: flex;
  flex-direction: row;

  border-left: 2px solid #c29d59;
  border-right: 2px solid #c29d59;
  border-bottom: 5px solid #eaeaea;

  width: 49rem;
  height: 5rem;
  margin-left: 10.5rem;
  margin-right: 5rem;

  transition: transform 0s ease;
  overflow: hidden;

  position: absolute;
  top: 33rem;
  left: 0;
  z-index: 1;
  background-color: #ffffff;
  align-items: center;
  gap: 1rem;
  padding-left: 0.9rem;
  padding-right: 1rem;
}
.section2_a1 {
  height: 2.3rem;
  width: 12rem;
  border: 1px solid black;
  background-color: #ffffff;
  border-radius: 5px;
  color: rgb(44, 43, 43);
  padding-left: 2rem;
  color: black;
}
.section2_a2 {
  height: 2rem;
  width: 12rem;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  padding-left: 2rem;
}
.section2_a3 {
  background-color: #c29d59;
  width: 8rem;
  height: 2.6rem;
}
.T {
  color: rgb(88, 85, 85);
}
.image {
  height: 6rem;
  width: 10rem;
}
.grid1 {
  height: 20rem;
  width: 20rem;
  border: solid 3px #c29d59;
  padding: 5px 5px 5px 5px;

  z-index: 5;
}
.grid2 {
  height: 8.8rem;
  width: 12rem;
  opacity: 0.7;
  margin-top: 14rem;

  margin-left: 13rem;
  border: solid 3px #c29d59;
  padding: 5px 5px 5px 5px;
  background-color: #ffffff;
  z-index: 5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.image-container {
  position: relative;
  position: -webkit-sticky;
}

.grid1,
.grid2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.section2_b {
  display: flex;
  flex-direction: row;
  padding-top: 6rem;
}

.about {
  border-left: 2px solid #c29d59;
  color: #c29d59;
  padding-left: 1rem;
  margin-top: 2rem;
}
.section2_b2 {
  color: rgb(75, 74, 74);
  font-size: 0.8rem;
}
.about2 {
  color: rgb(66, 63, 63);
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
  letter-spacing: -2px;
}
.section2b1 {
 
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 30rem;
  
}
.BUTTO:hover {
  background-color: #262626;
  transition: transform 0.05s ease;
}
.CLOSE {
  color: #c29d59;
  border-left: solid 2px #c29d59;
  padding-left: 1rem;
}

.close1 {
  color: rgb(45, 44, 44);
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
}

.section2_c {
  margin-top: 14rem;
  margin-left: 10rem;
}

.text2 {
  padding-top: 13;
  margin-left: 3.5rem;
  background-color: #c29d59;

  font-family: "Times New Roman", Times, serif;
  width: 25.7rem;
  padding-left: 0.1rem;
  font-size: 3.7rem;
}
.text1 {
  margin-left: -2rem;
  padding-top: 9rem;
  font-size: 3.7rem;

  font-family: "Times New Roman", Times, serif;
}

.text3 {
  margin-top: 2rem;
  margin-left: -3rem;
}
.subtext3 {
  padding-left: -9rem;
}

.bigsection {
  margin: 0;
  padding: 0;
}

.resp_text {

  margin-top: 7rem;
  padding-left: 4rem;
  padding-right: 4rem;
  background-color: white;
  padding-top: 3rem;
}
.home_sec1 {
  
  background-color: white;
  padding-top: 3rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 3rem;
}
.offer_sec1 {
  border-left: solid 2px #c29d59;
  padding-left: 0.6rem;
  font-size: 1.3rem;
  color: #c29d59;
}
.sec2 {
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
  color: #262626;
}
.sec3 {
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
  color: #262626;
}
.homecards {
  background-color: #ffffff;
}
.home_card1 {
  background-image: url("homecard1.jpg");

  width: 10rem;
  height: 13rem;
  background-color: white;
}
.home_card1 {
  background-color: white;
}

.mapping {

  display: flex;
  flex-direction: row;
justify-content: space-between;
  
}
.home_icon1 {
  color: #c29d59;
  position: absolute;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}

.home_icon2 {
  color: #c29d59;
  position: absolute;
  padding-left: 15.9rem;
}
.home_icon3 {
  color: #c29d59;
  position: absolute;
  padding-left: 28.8rem;
}
.fixhome
{
  display: flex;
  flex-direction: row;
  gap: 5rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 7rem;
}
@media screen and (max-width: 768px) {
  .section2_a {
    display: flex;
    flex-direction: column;
    width: 21rem;
    height: 15rem;
    margin-left: 0.8rem;
    margin-right: 1.7rem;
    gap: 1rem;
    padding-left: 10px;
    padding-top: 4.2rem;
  }
  .section2_a2 {
    height: 2rem;
    width: 14rem;
    padding-left: 0.2rem;
  }
  .section2_a1 {
    height: 2rem;
    width: 14rem;
  }
  .section2_a3 {
    height: 2rem;
    width: 14rem;
  }
.fixhome
{
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;

}

  .section2_b1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    
  }

  .image-container {
    width: 21rem;
  
    /* position: -webkit-sticky; */
    margin-left: 0.8rem;
    margin-right: 1.7rem;
   margin-top: 3rem;
  }
  .grid1 {
    margin-top: 10rem;
    width: 16rem;
    height: 14rem;
  }
  .grid2 {
    width: 9rem;
    height: 7rem;
    margin-top: 20rem;
    margin-left: 12rem;
    border: solid 3px #c29d59;
    z-index: 5px;
  }
  .image {
    height: 0px;
    width: 0px;
  }
  .home_sec1 {
    
    background-color: white;
  }
  .mapping {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    gap: 2rem;
  }

  .section2_b {
    display: flex;
    flex-direction: column;
  }
  .resp_text {
    padding-left: 1rem;
    background-color: white;
    padding-top: 3rem;
    font-size: 1.2rem;

    padding-top: 30rem;
  }
  .home_icon1 {
    color: #c29d59;
    position: absolute;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    display: none;
  }

  .home_icon2 {
    color: #c29d59;
    position: absolute;
    padding-left: 15.9rem;
    display: none;
  }
  .home_icon3 {
    color: #c29d59;
    position: absolute;
    padding-left: 28.8rem;
    display: none;
  }
  .section2b1 {
 
  display: flex;
  flex-direction: column;
  gap: 1rem;
display: none;
  
}
}
