.section2 {
  width: 100%;
  height: 6rem;
  flex-direction: row;
  background-color: #2b2b2b;
  position: fixed;
  z-index: 8888;
}

.section2 .container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.section2 .contacts {
  display: flex;
  align-items: center;
}

.subsection2 {
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: row;
}
.section1 {
   margin-right:5%;
  margin-left: 5%;
  width: 88%;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  background-color: #ffffff;
  height: 5rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

 

  position: absolute;
  margin-top: 6rem;

  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  height: 6.1rem;
  z-index: 100;
}
.logo {
  align-items: center;
  padding-top: 0.9rem;
  padding-bottom: 0.5rem;
 
}
.BUTTO {
  background-color: #c29d59;
  width: 10.5rem;
  height: 2.6rem;
}
.icon1 {
  color: rgb(61, 59, 59);
  width: 3rem;
  height: 3rem;
}
.icon2 {
  color: #c29d59;
  width: 2rem;
  height: 2rem;
  align-items: center;
}
.icon2_t {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding-top: rem;
  padding-bottom: 0.5rem;
}
.icon3 {
  color: #c29d59;
  width: 2rem;
  height: 2rem;
}
.icon3_t {
  display: flex;
  flex-direction: row;
}
.icon4 {
  color: #c29d59;
  width: 1.5rem;
  height: 1.5rem;
}

.d1 {
  width: 2rem;
  height: 6.1rem;
}
.d2 {
  width: 2rem;
  height: 6.1rem;
}
.d3 {
  width: 2rem;
  height: 6.1rem;
}
.d1:hover {
  background-color: #ffffff;
  border: 0;
}
.d2:hover {
  background-color: #ffffff;
}
.d3:hover {
  background-color: #ffffff;
}

.icon4_t {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 6.1rem;
  padding-top: 2.3rem;
  padding-right: 2rem;
}

.subsection {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.container3 {
  gap: 37rem;
  display: flex;
  flex-direction: row;
  padding-top: 0.9rem;
  padding-bottom: 0.5rem;
}

.home1 {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  height: 6.1rem;
  width: 1100px;
  gap: 2rem;
}
.H {
  background-color: #ffffff;

  border-radius: 5px;

  border: 2px solid black;

  height: 3rem;
  color: black;
}
.hic {
  width: 30px;
  height: 30px;
  padding-bottom: 0.09rem;
}

.h {
  background-color: #c29d59;

  background-color: #c29d59;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.but {
  justify-content: center;
  display: flex;
  padding-top: rem;
  align-items: center;
  gap: 1rem;
}
.first {
  transition: transform 0s ease;
  overflow: hidden;
  height: fit-content;
  background-color: #262626;
}
.word {
  color: #ffffff;
}
.word2 {
  color: white;
}
.gip {
  gap: 2rem;
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
}

.BUTTOt {
  background-color: #c29d59;
  width: 7rem;
  height: 2.2rem;
  padding-left: 4rem;
  padding-top: 0.4rem;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
.BUTTOt a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 768px) {
  .section2 {
    width: 30.7rem;
  }

  .gip {
    gap: 0.5rem;
  }

  .icon2 {
    width: 1rem;
    height: 1rem;
  }
  .icon3 {
    width: 1rem;
    height: 1rem;
  }
  .word {
    font-size: 0.6rem;
  }
  .word2 {
    font-size: 0.6rem;
  }
  .icon4 {
    width: 1rem;
    height: 1rem;
  }
  .section2 {
    display: flex;

    flex-direction: row;

    gap: 0.5rm;
    position: fixed;
  }

  .icon4_t {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    padding-right: 0;
  }
  .section2 .container {
    display: flex;
    flex-direction: row;
  }
  .section2.contacts {
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding-left: -4rem;
    font-size: smaller;
  }

  .icon4_t {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding-right: 6rem;
  }

  .logoo {
    height: 2rem;
    width: 5rem;
  }

  .BUTTO {
    width: 5rem;
  }

  .section1 {
   width: fit-content;
    background-color: #ffffff;
    height: 6.1rem;
    align-items: center;
     font-size: smaller;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-left: 0.7rem;
    margin-right: 0.5rem;
    position: absolute;
    margin-top: 6rem;

    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    height: 6.1rem;
    z-index: 100;
  }

  .logo {
    align-items: center;
    padding-top: 0.9rem;
    padding-bottom: 0.5rem;
    padding-left: 1.3rem;
  }
  .BUTTOt {
    background-color: #c29d59;
    width: 4rem;
    height: 2.2rem;
    padding-left: 0.7rem;
    padding-top: 0.4rem;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    align-items: center;
  }
}
